<h2><%=@note.title%> </h2>

<b>Topic:</b> <%=@note.topic%> <br>
<b>Date:</b> <%=@note.date%> <br>
<br>
<b>Content:</b> <%=@note.content%> <br>
<br>



<% if @note.user == current_user%>
<a href="/notes/<%= @note.id %>/edit">Edit</a> <br>
<br>
<form method="post" action="/notes/<%= @note.id %>">
<input type= "hidden" name="_method" value="DELETE">
<input type="submit" value="Delete This Note">
</form>
<%end%>