<h2>Show page </h2>
<h3> Title: <%=@note.title%> </hr>
<p> Topic: <%=@note.topic%> </P> <br>
Date: <%=@note.date%> <br>
Content: <%=@note.content%> <br>
<a href="/notes/<%= @note.id %>/edit">Edit</a> <br>